### Laravel template
vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
application/storage

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### Example user template template
### Example user template

# IntelliJ project files
.idea
.DS_Store
sourcefiles/redis
sourcefiles/mysql
sourcefiles/second_mysql
sourcefiles/log
application/vendor/
application/node_modules/!/application/composer.lock
!/application/package-lock.json
!/docker-compose.yml
!/sourcefiles/nginx/nginx.conf
